@import url('https://fonts.googleapis.com/css?family=Alegreya:500|Amiri');

.body-container {
    background-color: red;
    margin-right: 500px;
}

/***********/
/* APP BAR */
/***********/

.nav-logo {
    height: 50px;
}

.nav-hover-btn:hover {
    background-color: rgba(19,143,176,.8) !important;
}

/*************/
/* LOG CARDS */
/*************/

.log-card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.log-card {
    display: flex;
    flex-flow: row nowrap;
    margin: 40px;
    text-align: center;
    width: 450px;
}

.log-card-form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 30px;
}

.card-content {
    display: flex;
    flex-flow: column wrap;
    padding: 40px;
}

/****************/
/* PROFILE PAGE */
/****************/

.profile-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.logs-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
