.log-card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.log-card {
    margin: 40px;
    text-align: center;
    width: 375px;
}

.log-card-form {
    display: flex;
    flex-flow: row wrap;
    padding: 30px;
}

.card-content {
    padding: 40px;
}
